.noteWrapper {
  text-align: left;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.myButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transition: background 200ms ease-out;
  color: white;
}

.del {
  background: #b83b5e;
}
.del:hover {
  background: red;
}
.edit {
  background: #f08a5d;
}
.edit:hover {
  background: #c26c04;
}
